<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>レジ合わせアプリ</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app" @keyup.enter="moveFocus">
    <div v-for="(cache, index) in saveData.caches">
      <label>{{ cache.name }}</label>
      <input v-model.number="cache.value" type=number>
    </div>
    <div>
      <label>売上</label>
      <input v-model.number="saveData.sales" type=number>
    </div>
    <div v-for="(otherService, i) in saveData.otherServices">
      <label>{{ otherService.name }}</label><span>単価:{{ otherService.unitCost }}</span>
      <input v-model.number="otherService.n" type=number>
    </div>
    <div>
      <div v-for="(unpaid, i) in saveData.unpaids">
        <input v-model.number="saveData.unpaids[i]" type=number>
      </div>
      <button v-on:click="appendUnpaid" tabindex="-1">未納を追加</button>
    </div>
    <div>
      <div v-for="(inMoney, i) in saveData.ins">
        <input v-model.number="saveData.ins[i]" type=number>
      </div>
      <button v-on:click="appendIns" tabindex="-1">入金を追加</button>
    </div>
    <div>
      <div v-for="(outMoney, i) in saveData.outs">
        <input v-model.number="saveData.outs[i]" type=number>
      </div>
      <button v-on:click="appendOuts" tabindex="-1">出金を追加</button>
    </div>
    <div>
      <div v-for="(otherMoney, i) in saveData.others">
        <input v-model.number="saveData.others[i]" type=number>
      </div>
      <button v-on:click="appendOthers" tabindex="-1">その他を追加</button>
    </div>
    <div>
      <p>{{ diff }}</p>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>
